*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    width: 100%;
    height: 100%;
}
#box{
    width: 600px;
    height: 300px;
    background-color: gray;
    display: flex;
    left: 40px;
    justify-content: center;
    align-items: center;
    
}
#box1{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    left: 40%;
}
#box2{
    width: 120px;
    height: 100px;
    background-color: seagreen;
    left: 40%;
}
#box3{
    width: 100px;
    height: 100px;
    background-color: salmon;
    left: 40%;
}
